<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Log in or Register")}</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url("lms-require-config.js")}"></script>
  <script type="text/javascript">
    <%static:require_paths module='jquery' path="js/vendor/jquery.min.js" />
    <%static:require_paths module='jquery.cookie' path="js/vendor/jquery.cookie.js" />
    <%static:require_paths module='underscore' path="js/vendor/underscore-min.js" />
    <%static:require_paths module='underscore.string' path="js/vendor/underscore.string.min.js" />
    <%static:require_paths module='backbone' path="js/vendor/backbone-min.js" />
    <%static:require_paths module='text' path="js/vendor/text.js" />
  </script>
  <%static:require_module module='js/student_account/accessApp'/>
</%block>

<div class="section-bkg-wrapper">
    <div id="login-and-registration-container"
        class="login-register"
        data-initial-mode="${initial_mode}"
        data-third-party-auth='${third_party_auth}'
        data-platform-name='${platform_name}'
    />
</div>
